* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
}

button,
input,
textarea {
  border: 0;
  outline: 0;
  background-color: transparent;
}

@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 300;
  src: url('material.woff2') format('woff2');
}