.form {
	display: flex;
	gap: 8px;
	width: 100%;
	margin-bottom: 16px;
}

.input {
	flex-grow: 1;
}

.buttons {
	display: flex;
	gap: 8px;
	margin-top: 16px;
	justify-content: flex-end;
}

.description {
	margin-bottom: 16px;
}