.button {
	font-weight: 500;
	cursor: pointer;
}

.primary,
.secondary,
.transparent {
	padding: 8px 12px;
	border-radius: 8px;
}

.primary {
	background-color: #000;
	color: #fff;

	&:hover {
		background-color: lighten(#000, 20%);
	}
}

.secondary {
	padding: 7px 11px;
	border: #000 1px solid;
}

.link {
	font-weight: 500;
	font-size: 16px;

	&:hover {
		color: lighten(#000, 20%);
	}
}